* {
 margin: 0;
 box-sizing: border-box;
}

html {
 scroll-behavior: smooth;
}

body {
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 background-color: #f7f7f7;
}

.de[overlay=blur]~body {
 filter: opacity(50%) !important;
 overflow-x: hidden;
}

.dd[overlay=blur]~body, .dd[overlay=color]~body {
 pointer-events: auto !important;
}

.page {
 width: 960px;
 margin-left: auto;
 margin-right: auto;
 color: #666;
}

.top-bar {
 height: 20px;
 background-color: #000;
}

.header {
 margin-top: 45px;
 margin-bottom: 35px;
}

.header h1 {
 width: -moz-fit-content;
 width: fit-content;
 font-size: 60px;
 font-weight: 500;
 color: #353535;
}

.header h2 {
 width: -moz-fit-content;
 width: fit-content;
 font-size: 35px;
 font-weight: 400;
 letter-spacing: 1.5px;
 padding-left: 15px;
}

.header a {
 text-decoration: none;
 color: #c95569;
}

.header img {
 float: right;
 width: 115px;
 height: 115px;
 border: 3px solid #eaeaea;
 border-radius: 50%;
 margin-right: 15px;
}

.navigation {
 background-color: #eaeaea;
 overflow: hidden;
 border: 1px solid #fff;
 outline: 1px solid #dcdcdc;
 margin-bottom: 41px;
}

.navigation a {
 float: left;
 font-size: 17px;
 color: #222;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

.navigation a:hover {
 background-color: #ddd;
 color: black;
}

.navigation a.current {
 background-color: #ddadaf;
 color: white;
}

.navigation a.social {
 float: right;
 padding: 0;
 margin-right: 16px;
 margin-top: 10px;
}

.navigation a.social:hover {
 background-color: transparent;
}

.navigation img {
 width: 30px;
 height: 30px;
}

.gallery {
 display: flex;
 justify-content: center;
 gap: 10px;
 margin-bottom: 41px;
}

.media {
 max-width: 300px;
 overflow: hidden;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 3px solid #eaeaea
}

.media img {
 max-width: 100%;
}

.banner {
 padding: 20px 35px;
 border: 1px solid #fff;
 outline: 1px solid #dcdcdc;
 background-color: #eaeaea;
 margin-bottom: 42px;
}

.banner p {
 font-size: 18px;
 font-weight: 300;
 text-align: center;
}

.banner span {
 font-weight: 400;
}

.call-to-action {
 margin-bottom: 42px;
}

.cta-wrapper {
 padding: 28px;
 border: 1px solid #fff;
 outline: 1px solid #dcdcdc;
 background-color: #ddadaf;
}

.cta-wrapper .text {
 float: left;
}

.cta-wrapper .text h3 {
 color: #fff;
 font-size: 27px;
 font-weight: 500;
}

.cta-wrapper .text p {
 font-size: 18px;
 color: #fff;
}

.cta-wrapper .button {
 float: right;
 width: 40%;
 border-radius: 3px;
 background-color: #fff;
 padding: 17px 0;
 text-align: center;
}

.cta-wrapper a.button {
 color: #666;
 text-decoration: none;
 font-weight: 500;
}

.cta-clearfix {
 clear: both;
}

.section-one {
 margin-bottom: 37px;
}

.section-two {
 display: flex;
 justify-content: center;
 gap: 15px;
}

.section-two .box-one {
 float: left;
}

.section-two .box-two {
 float: right;
}

.section-two .content {
 margin-bottom: 37px;
}

.section-one h3, .section-two h3 {
 font-size: 20px;
 font-weight: 400;
 background-color: #eaeaea;
 margin-bottom: 25px;
 padding: 8px 15px;
 border: 1px solid #FFF;
 outline: 1px solid #dcdcdc;
}

.section-one p, .section-two p {
 font-weight: 300;
}

.section-one span, .section-two span {
 font-weight: 300;
}

.form {
 background-color: #ddadaf;
 border: 1px solid #fff;
 outline: 1px solid #dcdcdc;
 padding: 28px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 42px;
}

.form h3 {
 width: -moz-fit-content;
 width: fit-content;
 color: #fff;
 font-size: 27px;
 font-weight: 500;
}

.form p {
 width: -moz-fit-content;
 width: fit-content;
 font-size: 18px;
 color: #fff;
}

.form .fields {
 margin-top: 45px;
}

.form label {
 color: #fff;
}

.form input, textarea {
 width: 100%;
 padding: 15px;
 background-color: transparent;
 font-family: 'Roboto', sans-serif;
 color: #fff;
 font-size: 16px;
 outline: none;
 border: 1px solid #fff;
 margin-top: 10px;
}

.form input::placeholder, textarea::placeholder {
 color: #fff;
}

.form input {
 margin-bottom: 25px;
}

.form textarea {
 height: 150px;
 resize: none;
}

.form input.button {
 padding: 17px 0;
 background-color: #fff;
 color: #666;
 font-weight: 500;
 border: none;
 border-radius: 3px;
 cursor: pointer;
 margin-top: 60px;
 margin-bottom: 7px;
}

.footer {
 padding-top: 40px;
 padding-bottom: 40px;
 background-color: #000;
 margin-top: 81px;
}

.footer p {
 color: #fff;
 font-size: 18px;
 text-align: center;
}

.footer a {
 color: #666;
}

.footer a:hover {
 color: #515151;
}

@media screen and (max-width: 1025px) {

.page {
 width: 100%;
 margin-left: 0;
 margin-right: 0;
}

.header {
 margin-left: 25px;
 margin-right: 25px;
}

.navigation {
 margin-left: 25px;
 margin-right: 25px;
}

.gallery {
 margin-left: 45px;
 margin-right: 45px;
}

.call-to-action {
 margin-left: 25px;
 margin-right: 25px;
}

.banner {
 margin-left: 25px;
 margin-right: 25px;
}

.section-one {
 margin-left: 25px;
 margin-right: 25px;
}

.section-two {
 display: block;
 margin-left: 25px;
 margin-right: 25px;
}

.section-two .box-one {
 float: none;
}

.section-two .box-two {
 float: none;
}

.form {
 margin-left: 25px;
 margin-right: 25px;
}

}

@media screen and (max-width: 780px) {

.cta-wrapper .button {
 display: none;
}

}

@media screen and (max-width: 715px) {

.header img {
 float: none;
 margin-right: 0;
}

}

@media screen and (max-width: 525px) {

.header h1 {
 font-size: 40px;
 margin-top: 20px;
}

.header h2 {
 font-size: 25px;
}

.navigation a.social {
 display: none;
}

.gallery {
 display: block;
}

.media {
 max-width: 100%;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 35px;
}

}
